/* !important overwrites the gradio default settings. */

#txt2img_accordion_aspect_ratio_calc,
#img2img_accordion_aspect_ratio_calc {
	gap: 10px !important;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 6px;  
}

#txt2img_column_aspect_ratio_calc,
#img2img_column_aspect_ratio_calc {
	gap: 10px !important;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;  
}

#txt2img_btn_aspect_ratio_calc,
#img2img_btn_aspect_ratio_calc {
	gap: 10px !important;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	width: 50px;
	padding: 0px;  
}

#txt2img_row_aspect_ratio_calc,
#img2img_row_aspect_ratio_calc {
	margin-right: 6px;
	margin-left: 6px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 2px; 
	gap: 10px;
}

/* This block is required for the buttons. Do not delete! */
#txt2img_row_aspect_ratio_calc button,
#img2img_row_aspect_ratio_calc button {
	margin: 0px;
	gap: 10px !important;
	max-width: unset !important;
}
